<!DOCTYPE html>
<html>
<head>
    <title>MBTA Data Analysis</title>

    <!-- Leaflet -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css"/>
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>

    <!-- D3 -->
    <script src="https://d3js.org/d3.v7.min.js"></script>

    <!-- style-->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

<h1>MBTA Data Analysis</h1>

<div class="dashboard">

    <aside class="sidebar">
        <h2>Filters</h2>

        <form id="filter-form">

            <label>Line</label>
            <select name="line">
                <option value="">All</option>
                <option value="Green">Green</option>
                <option value="Red">Red</option>
                <option value="Orange">Orange</option>
                <option value="Blue">Blue</option>
                <option value="Mattapan">Mattapan</option>
            </select>

            <label>Day</label>
            <select name="day">
                <option value="">All</option>
                <option>Monday</option>
                <option>Tuesday</option>
                <option>Wednesday</option>
                <option>Thursday</option>
                <option>Friday</option>
                <option>Saturday</option>
                <option>Sunday</option>
            </select>

            <label>Time of Day</label>
            <select name="time_of_day">
                <option value="">All</option>
                <option value="morning">Morning</option>
                <option value="midday">Midday</option>
                <option value="evening">Evening</option>
                <option value="night">Night</option>
            </select>

            <label>Month</label>
            <select name="month">
                <option value="">All</option>
                <option value="1">Jan</option>
                <option value="2">Feb</option>
                <option value="3">Mar</option>
                <option value="4">Apr</option>
                <option value="5">May</option>
                <option value="6">Jun</option>
                <option value="7">Jul</option>
                <option value="8">Aug</option>
                <option value="9">Sep</option>
                <option value="10">Oct</option>
                <option value="11">Nov</option>
                <option value="12">Dec</option>
            </select>

            <button type="submit">Apply Filters</button>
            <div class="reset-link" id="reset">Reset Filters</div>

        </form>
    </aside>

    <main class="main-content">
        <div id="map"></div>
        <div class="legend">
            <h3>Legend</h3>

            <div class="legend-item">
                <span class="dot green"></span> Low Avg Headway
            </div>

            <div class="legend-item">
                <span class="dot red"></span> High Avg Headway
            </div>

            <p class="legend-text">
                Circle Size → Variability<br>
                (Smaller = consistent, Larger = unreliable)
            </p>
        </div>
    </main>

</div>
<script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>

